<pre>
<h1>Welcome to my web server <b>{{ ansible_fqdn |upper }}</b> !</h1>

{% set apache_name = apache['pkg'] %}
<h2>It's running Apache {{ ansible_facts['packages'][apache_name][0]['version'] }} on {{ ansible_distribution }} {{ ansible_distribution_version }} !


The server may be reached via <b>next</b> URIs:</h2>
<h3>
{% for ip in ansible_all_ipv4_addresses %}
- <a href="http://{{ ip }}">http://{{ ip }}</a><br>
{% endfor %}
</h3>
</pre>
